@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/montserrat-extrabold.ttf') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-extrabold.ttf') format('woff'), /* Modern Browsers */

  }
  @font-face {
    font-family: 'Montserrati';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/montserrat-light.ttf') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-light.ttf') format('woff'), /* Modern Browsers */
  }
  body{width: 100%;}
.first-section-container{
    padding-top: 270px ;
    padding-bottom: 110px;

}
.header{
    padding-top: 30px;
    padding-bottom: 60px;

}
.logo-header-img{
    width: 320px;
    position: relative;
    left: 100px;
    top: 8x;

}

.nav{
    font-family: 'Montserrat';
    font-size: 25px;
    min-width: 160%;
    max-width: 10%;
    line-height: 2;
    margin-left: 300px;
    margin-right: 600px; 
    position: relative;
    left: 180px;
  top: -70px;
}
.nav-item{  
    display: inline; 
    margin-right: 50px;  
    position: relative;
    text-decoration: none;
    color: #373737;
  
}
.nav-home{
  background-color: #fe484f;
    border-top: 90px solid #fe484f;
  border-bottom: 50px solid #fe484f;
  border-left: 25px solid #fe484f;
  border-right: 25px solid #fe484f;
  position: relative;
  color: white;
  min-width: 160%;
  max-width: 10%;
}



  
